html{
    height: 100%;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.slide {
    position: relative;
    padding: 25vh ;
    min-height: 100vh;
    width: 100vh;
    box-sizing: border-box;
    //ox-shadow: 0 -1px 10px rgba(0,0,0,.7);
    transform-style: inherit;
}

.mango:first-of-type {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 370px;
    height: 240px;
    border-radius: 5px;
    background: rgba(0,0,0,.7);

    transform: translateZ(.30px) scale(.50) translateX(110%) translateY(-70%);
    // behindlaptop
}

.mango:nth-of-type(2n) {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 360px;
    height: 240px;
    border-radius: 5px;
    background: rgba(0,0,0,.7);

    transform: translateZ(.10px) scale(.80) translateX(40%) translateY(-190%);
    //laptop on desk
}

.mango:nth-of-type(3n) {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 320px;
    height: 240px;
    border-radius: 5px;
    background: rgba(0,0,0,.7);

    transform: translateZ(.10px) scale(.70) translateX(-100%) translateY(20%);
    //laptop jacket
}

.mango:nth-of-type(4n) {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 320px;
    height: 240px;
    border-radius: 5px;
    background: rgba(0,0,0,.7);

    transform: translateZ(.25px) scale(.80) translateX(40%) translateY(90%);
    //me coding
}

.mango:last-of-type {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 300px;
    height: 240px;
    border-radius: 5px;
    background: rgba(0,0,0,.7);

    transform: translateZ(.50px) scale(.40) translateX(50%) translateY(-180%);
    height: 440px;
    //sr pics
}

// .slide:nth-child(2n) .title {
//     margin-left: 0;
//     margin-right: auto;
// }

// .slide:nth-child(2n+1) .title { 
//     margin-left: auto;
//     margin-right: 0;
// }
// .slide, .slide:before {
//     background: 50% 50% / cover;  
//   }


.spacer{
    height: 30vh;
    width: 100vh;
}

.about-grid{
    display: flex;
}

.about-content{
    margin-top: 10vh;
    padding-top: 20vh;
    padding-right: 10vh;
    font-size: 20px;

}