@import "./stylesheet.css";
@media only screen and (max-device-width: 568px)
{
  //resume page
.resume-page-wrapper{
  padding-left: 4vh;
  padding-right: 4vh;
  font-family: 'vogamedium';
}
.resume-main-wrapper{
  display: flex;
  flex-direction: column;


}
.spacer{
  width: 100%;
  height: 5vh;
}
//aos
.linedude{
  padding-right: 5vw;
}
.linegirl{
  border-bottom-style: solid;
  border-color: #eabfb9; 
  padding-bottom: 10px;

}

//skils
.skills-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    // padding-right: 1vw;
    letter-spacing: 3px;

  }
  &__tech{
    width: 20vw;
    
    letter-spacing: 3px;
    li{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    }
  }
  &__soft{
    width: 28vw;
    padding-left: 70px;
    letter-spacing: 3px;
    li{
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 0px;
      }
  }
}

.skills-list-wrapper{
  display: flex;
  flex-direction: row;
}

//work
.work-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 110vw;
    letter-spacing: 3px;
  }
  &__content-title{
    letter-spacing: 3px;
  }
  &__content-experience{
    width: 40vw;
    p {
      font-family: Arial, Helvetica, sans-serif;
      }
    
  }
  .link-boys{
    text-decoration: none;
    color: #b86b77;
    
  }
  .link-boys:hover {
    color: black;  
  }
  .link-in-body{
    text-decoration: none;
    color: #b86b77; 
  }
  .link-in-body:hover {
    
    color: black;   
  }
}

.work-block{
  padding-bottom: 20px;
}

//edu
.edu-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 85vw;
    letter-spacing: 3px;
    
  }
  &__content-title{
    letter-spacing: 2px;
  }
  .link-in-body {
    text-decoration: none;
    color: #b86b77;
  }
  .link-in-body:hover {
    color: black;   
  }
  &__content-info{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  &__content-award{
    font-family: Arial, Helvetica, sans-serif;
  }
}
//awards
.awards-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 64vw;
    letter-spacing: 3px;
  }
  &__content-title{
    letter-spacing: 2px;
    
  }
  &__content-info{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  &__content-experience{
    width: 40vw;
    letter-spacing: 2px;
  }
  // &__content-info{
  //   letter-spacing: 1px;
  // }
  .link-in-body{
    text-decoration: none;
    color: #b86b77;
  }
  .link-in-body:hover {
    
    color: black;   
  }
}

//service
.service-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 44vw;
    letter-spacing: 3px;
  }
  &__content-title{
    letter-spacing: 2px;
  }
  &__content-experience{
    width: 40vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__content-info{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  .link-in-body{
    text-decoration: none;
    color: #b86b77;
  }
  .link-in-body:hover {
    
    color: black;   
  }
}
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 700px){
  //resume page
.resume-page-wrapper{
  padding-left: 4vh;
  padding-right: 4vh;
  font-family: 'vogamedium';
}
.resume-main-wrapper{
  display: flex;
  flex-direction: column;


}
.spacer{
  width: 100%;
  height: 5vh;
}
//aos
.linedude{
  padding-right: 5vw;
}
.linegirl{
  border-bottom-style: solid;
  border-color: #eabfb9; 
  padding-bottom: 10px;

}

//skils
.skills-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    // padding-right: 1vw;
    letter-spacing: 3px;

  }
  &__tech{
    width: 30vw;
    letter-spacing: 3px;
    li{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    }
  }
  &__soft{
    width: 28vw;
    letter-spacing: 3px;
    li{
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 0px;
      }
  }
}

.skills-list-wrapper{
  display: flex;
  flex-direction: row;
}

//work
.work-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 59vw;
    letter-spacing: 3px;
  }
  &__content-title{
    letter-spacing: 3px;
  }
  &__content-experience{
    width: 40vw;
    p {
      font-family: Arial, Helvetica, sans-serif;
      }
    
  }
  .link-boys{
    text-decoration: none;
    color: #b86b77;
    
  }
  .link-boys:hover {
    color: black;  
  }
  .link-in-body{
    text-decoration: none;
    color: #b86b77; 
  }
  .link-in-body:hover {
    
    color: black;   
  }
}

.work-block{
  padding-bottom: 20px;
}

//edu
.edu-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 85vw;
    letter-spacing: 3px;
    
  }
  &__content-title{
    letter-spacing: 2px;
  }
  .link-in-body {
    text-decoration: none;
    color: #b86b77;
  }
  .link-in-body:hover {
    color: black;   
  }
  &__content-info{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  &__content-award{
    font-family: Arial, Helvetica, sans-serif;
  }
}
//awards
.awards-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 64vw;
    letter-spacing: 3px;
  }
  &__content-title{
    letter-spacing: 2px;
    
  }
  &__content-info{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  &__content-experience{
    width: 40vw;
    letter-spacing: 2px;
  }
  // &__content-info{
  //   letter-spacing: 1px;
  // }
  .link-in-body{
    text-decoration: none;
    color: #b86b77;
  }
  .link-in-body:hover {
    
    color: black;   
  }
}

//service
.service-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 44vw;
    letter-spacing: 3px;
  }
  &__content-title{
    letter-spacing: 2px;
  }
  &__content-experience{
    width: 40vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__content-info{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  .link-in-body{
    text-decoration: none;
    color: #b86b77;
  }
  .link-in-body:hover {
    
    color: black;   
  }
}
}
@media only screen and (min-width: 600px){
//resume page
.resume-page-wrapper{
  padding-left: 4vh;
  padding-right: 4vh;
  font-family: 'vogamedium';
}
.resume-main-wrapper{
  display: flex;
  flex-direction: column;


}
.spacer{
  width: 100%;
  height: 5vh;
}
//aos
.linedude{
  padding-right: 5vw;
}
.linegirl{
  border-bottom-style: solid;
  border-color: #eabfb9; 
  padding-bottom: 10px;

}

//skils
.skills-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    // padding-right: 1vw;
    letter-spacing: 3px;

  }
  &__tech{
    width: 20vw;
    letter-spacing: 3px;
    li{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    }
  }
  &__soft{
    width: 20vw;
    letter-spacing: 3px;
    li{
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 0px;
      }
  }
}

.skills-list-wrapper{
  display: flex;
  flex-direction: row;
}

//work
.work-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 40vw;
    letter-spacing: 3px;
  }
  &__content-title{
    letter-spacing: 3px;
  }
  &__content-experience{
    width: 40vw;
    p {
      font-family: Arial, Helvetica, sans-serif;
      }
    
  }
  .link-boys{
    text-decoration: none;
    color: #b86b77;
    
  }
  .link-boys:hover {
    color: black;  
  }
  .link-in-body{
    text-decoration: none;
    color: #b86b77; 
  }
  .link-in-body:hover {
    
    color: black;   
  }
}

.work-block{
  padding-bottom: 20px;
}

//edu
.edu-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 40vw;
    letter-spacing: 3px;
    
  }
  &__content-title{
    letter-spacing: 2px;
  }
  .link-in-body {
    text-decoration: none;
    color: #b86b77;
  }
  .link-in-body:hover {
    color: black;   
  }
  &__content-info{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  &__content-award{
    font-family: Arial, Helvetica, sans-serif;
  }
}
//awards
.awards-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 40vw;
    letter-spacing: 3px;
  }
  &__content-title{
    letter-spacing: 2px;
    
  }
  &__content-info{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  &__content-experience{
    width: 40vw;
    letter-spacing: 2px;
  }
  // &__content-info{
  //   letter-spacing: 1px;
  // }
  .link-in-body{
    text-decoration: none;
    color: #b86b77;
  }
  .link-in-body:hover {
    
    color: black;   
  }
}

//service
.service-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: right;
  line-height: 30px;

  &__title{
    align-content: flex-start;
    width: 40vw;
    letter-spacing: 3px;
  }
  &__content-title{
    letter-spacing: 2px;
  }
  &__content-experience{
    width: 40vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__content-info{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  .link-in-body{
    text-decoration: none;
    color: #b86b77;
  }
  .link-in-body:hover {
    
    color: black;   
  }
}
}

//old contact page style
// .content-page-wrapper {
//     width: 100vw;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     height: calc(100vh - 84px);
//     .right-column {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       flex-direction: column;
//       padding: 100px;
  
//       .contact-bullet-points {
//         display: grid;
//         grid-template-columns: 1fr;
//         grid-gap: 21px;
  
//         .bullet-point-group {
//           display: flex;
//           align-items: center;
  
//           .icon {
//             font-size: 2em;
//             color: $teal;
//           }
  
//           .text {
//             font-size: 1.5em;
//             font-weight: 900;
//             margin-left: 21px;
//           }
//         }
//       }
//     }
//   }