@import "./stylesheet.css";

.home-page{
    // background-image: url(../../static/assets/images/screenLargeTestFour.png);
    // // background-position: center;
    // // background-attachment: fixed;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position:  center right;
    // background-origin: content-box;
    font-family: 'vogamedium';
}
.photo-main-content{
    background-image: url(../../static/assets/images/closeTag3.png);
    background-repeat: no-repeat;
    

    height: 90vh;
    width: 100vw;
    min-height: 100%;
    background-position: right ;
    
}
.open-tag{
    padding: 0px;
    margin: 0px;
    color: #eabfb9;
}

.home-main-text-block{
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 15vh;
    padding-left: 3vw

}

#home-main-text{
    text-align: left;
    font-size: 13vh;
    letter-spacing: 17px;
    // padding-top: 10vh;
    padding-bottom: 10vh;
    // padding-right:2vw;
    
    font-weight: bold;
    color: black;
    h1{
        padding: 0px
    }
    p{
        font-size: 4vh;
        letter-spacing: 6px;
        margin-top: 0vh
    }
}

//testing dis outttt transp
// .transpary{
//     background-color: rgba(255, 255, 255, 0.7)
// }


//about me part
.home-about-me{
    height: 60vh;
    // width: 100vw;
    padding-top: 20vh;
    padding-bottom: 15vh;
    // padding-left: 30px;
    // padding-right: 30px;
}
.about-me-block{
    background-image: url(../../static/assets/images/augustine-wong-li0iC0rjvvg-unsplash.jpg); 
    background-size: cover;
    background-position: center;
}
.about-me-block-title{
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
    border-color: white;

    letter-spacing: 8px;
    font-size: 3vh;
}
.home-about-me-block{
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: center;

    padding-top: 10vh;
    padding-bottom: 10vh;
    
}

.home-about-me-photo img{
    width:8vw;
    height: auto;
    padding-left: 3vw;
    padding-right: 3vw;
}

.home-about-me-text{
    padding-right: 5vw;
}

//contact
.contact-me{
    height: 70vh;

    padding-top: 30vh;
    padding-bottom: 15vh;

}

// .container {
//     height: 100vh;
//     position: relative;
//     overflow: hidden;
//     background-size: cover;
//     background: url("../../static/assets/images/take-two.jpg");
// }

//   //   display:block;
//   // position: fixed;
//   // width: 100vw;
//   // height: 100vh;
//   // top: 0;
//   // left: 0;
//   // background: url('http://cs627531.vk.me/v627531615/d23c/xqkB4APcT4c.jpg') center no-repeat;
//   // background-size: cover;
//   // -moz-transition: 0.1s;-o-transition: 0.1s;-webkit-transition: 0.1s;transition: 0.1s;
//   // z-index: -1;


// html {
//     margin: 0;
//     padding: 0;
//     height: 100%;
//     width: 100%;
// }

// .photo-main-content { 

//     height: 100vh; 
//     background: url("../../static/assets/images/take-4.jpg");

//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;

//     size: cover;
//     position: center;
//     margin-bottom: 50px;

//     margin-top: 0;
// }

// h1 {

//     display: block;
//     font-size: 2em;
//     margin-block-start: 0em;
//     margin-block-end: 0em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
//     font-weight: bold;
// }

// .photo-main-content__name {
//     //margin-top: 250px;

//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
// }

// // .portfolio-main-content {

// //     background-color:honeydew;

// // }