.nav-wrapper {
    background: #AACBDD;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    margin-bottom: 0px;

    color: white;

    .right-side {
        a {
            margin-left: 15px;
            cursor: pointer;
            color: white;
            transition: .5s ease-in-out;

            &:hover {
                color: $dark-teal;
            }
        }
    }

    .left-side {
        display: flex;
    }

    .nav-link-wrapper {
        height: 22px;
        border-bottom: 1px solid transparent;
        transition: 0.5s ease-in-out;
        margin-right:20px;
        text-transform: uppercase;
        font-size:0.9em;

        a {
            color: white;
            text-decoration: none;
            &:hover {
                color:white;
                border-bottom: 1px solid white;
            }
        }


        .nav-link-active {
            border-bottom: 1px solid white;
            color: white;
        }
    }
}