@media only screen and (max-width: 600px){
    .homepage-wapper {
        display: grid;
        grid-template-columns: 1fr;
    
        .filter-links{
            display: flex;
            justify-content: center;
            
    
    
        }
    
        .link-title{
            background-color: #eabfb9;;
            color: black; 
            width: 100%;
            display: flex;
            justify-content: center;
            letter-spacing: 5px;
            font-size: 5vh;
            
        }
    
        .btn {
            width: 100%;
            background-color: #eabfb9;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }
    } 
}

@media only screen and (min-width: 600px){
.homepage-wapper {
    display: grid;
    grid-template-columns: 1fr;

    .filter-links{
        display: flex;
        justify-content: center;
        


    }

    .link-title{
        background-color: #eabfb9;;
        color: black; 
        width: 100%;
        display: flex;
        justify-content: center;
        letter-spacing: 5px;
        font-size: 5vh;
        
    }

    .btn {
        width: 100%;
        background-color: #eabfb9;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
}
}