@media only screen and (max-width: 600px){
    h1{
        display: block;
        font-size: 2em;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    
    .portfolio-detail{
        overflow: hidden;
    
        margin: 0;
        perspective: 1px;
        transform-style: preserve-3d;
        overflow-x:hidden;
        overflow-y:auto;
        
    
    }
    .poject-intro-wrapper{
        display: flex;
        flex-direction: column;
    }
    
    .portfolio-detail-pojects{
        width: 100vw;
        height:100vh;
        padding-top:5vh;
        box-sizing: border-box;
        transform-style: preserve-3d;
    
        .portfolio-detail-pojects::before {
                content:"";
                width: 100vw;
                height: 100vh;
                top:0;
                left:0;
                background-image: url("/trianglify.png");
                position: absolute;
                z-index: -1;
                transform:translateZ(-1px) scale(2);
            }   
    
        .poject-intro-wrapper{
            display: flex;
            justify-content: center;
            font-family: 'Playfair Display', serif; 
            margin-left: 50px;
            margin-right: 50px;
            padding-left: 50px;
            padding-right: 50px;
    
    
            .poject-left{
                //margin-right: 20px;
                width: 50vw;
            
                &__name{
                    font-size: 28px; 
                    border-bottom-style: solid;
                    border-color: $dark-teal;
                h1{
                    margin-top: 0px;
                    // font-size: 90px;
                }
                }
                &__description{
                    font-size: 18px;
                }
            }
        }
    }
            .poject-right{
                //margin-left: 20px;
                background-color: $dark-teal;
    
                p{
                    margin-left: 2.5vw;
                }
                .eyebrow{
                    font-size: 10px;
                    letter-spacing: 2px;
                    margin-left: 1vw; 
                    // padding-right: 5px;
                }
                .eye{
                    text-decoration: none;
                    color: black;
                    font-size: 15px;
                    // margin-left: .5vw;
                    margin-right: 10px;
    
    
                }
            }
    
    .portfolio-detail-image {
        width: 100vw;
        height:20vh;
        padding-top:20vh;
        background-image: url("/trianglify2.png");
        z-index: 2;
        position: relative;
    }
}

@media only screen and (min-width: 600px){

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.portfolio-detail{
    overflow: hidden;

    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:auto;

}

.portfolio-detail-pojects{
    width: 100vw;
    height:100vh;
    padding-top:5vh;
    box-sizing: border-box;
    transform-style: preserve-3d;

    .portfolio-detail-pojects::before {
            content:"";
            width: 100vw;
            height: 100vh;
            top:0;
            left:0;
            background-image: url("/trianglify.png");
            position: absolute;
            z-index: -1;
            transform:translateZ(-1px) scale(2);
        }   

    .poject-intro-wrapper{
        display: flex;
        justify-content: center;
        font-family: 'Playfair Display', serif; 
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 50px;
        padding-right: 50px;


        .poject-left{
            margin-right: 20px;
            width: 30vw;
        
            &__name{
                font-size: 28px; 
                border-bottom-style: solid;
                border-color: $dark-teal;
            h1{
                margin-top: 0px;
                // font-size: 90px;
            }
            }
            &__description{
                font-size: 18px;
            }
        }
    }
}
        .poject-right{
            margin-left: 20px;
            background-color: $dark-teal;

            p{
                margin-left: 2.5vw;
            }
            .eyebrow{
                font-size: 10px;
                letter-spacing: 2px;
                margin-left: 1vw; 
                // padding-right: 5px;
            }
            .eye{
                text-decoration: none;
                color: black;
                font-size: 15px;
                // margin-left: .5vw;
                margin-right: 10px;


            }
        }

.portfolio-detail-image {
    width: 100vw;
    height:20vh;
    padding-top:20vh;
    background-image: url("/trianglify2.png");
    z-index: 2;
    position: relative;
}
}


